* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    padding-top: 56px;
}

.img-fluid{
    max-height: 80vh;
}
.card-body{
    width: 90%;
    margin-left: 5%;
}
.form-control{
    border: none;
    border-bottom: 1px solid rgba(175, 175, 175, 0.75);
    font-size: 0.8em;
}
.form-control::placeholder{
    color: rgba(175, 175, 175, 0.75);
}
table{
    font-size: 0.7em;
}
.table_Header-titulo{
    text-decoration: none;
    text-decoration-style: none;
    color: white;
}
.table_Header-titulo:hover{
    text-decoration: none;
    text-decoration-style: none;
    color: rgb(154, 229, 250);
}

td {
    vertical-align: middle;
}
